ListViewer_wpf_client/Service References/MaterialServiceReference/Harris.Automation.ADC.Services.MaterialService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.MaterialService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.MaterialService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InvalidCriteriaError">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MaterialServiceError">
        <xs:sequence>
          <xs:element minOccurs="0" name="CriteriaNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidCriteriaError" nillable="true" type="tns:InvalidCriteriaError" />
  <xs:complexType name="MaterialServiceError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaterialServiceError" nillable="true" type="tns:MaterialServiceError" />
  <xs:complexType name="DatabaseAccessError">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MaterialServiceError">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DatabaseAccessError" nillable="true" type="tns:DatabaseAccessError" />
</xs:schema>