ListViewer_wpf_client/Service References/DeviceServiceReference/Harris.Automation.ADC.Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="FrameRateEnum">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
        </ActualType>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN" />
      <xs:enumeration value="PAL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">36</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NTSC">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">41</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FrameRateEnum" nillable="true" type="tns:FrameRateEnum" />
  <xs:complexType name="LoginSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginSession" nillable="true" type="tns:LoginSession" />
  <xs:simpleType name="ServerStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Connecting" />
      <xs:enumeration value="Connected" />
      <xs:enumeration value="Disconnecting" />
      <xs:enumeration value="Aborted" />
      <xs:enumeration value="Disconnected" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServerStatus" nillable="true" type="tns:ServerStatus" />
  <xs:simpleType name="StorageNotificationType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
        </ActualType>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ReadWholeStorage" />
      <xs:enumeration value="NeedsRefresh" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StorageNotificationType" nillable="true" type="tns:StorageNotificationType" />
</xs:schema>