ListViewer_wpf_client/Service References/DeviceServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.Configuration" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.Configuration" minOccurs="0" name="GetVersionResult" nillable="true" type="q1:ServiceVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDeviceListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDeviceListenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterDeviceListenerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterDeviceListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDevicesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects" minOccurs="0" name="GetDevicesResult" nillable="true" type="q2:ArrayOfDeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesByNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceNumber" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevicesByNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects" minOccurs="0" name="GetDevicesByNumbersResult" nillable="true" type="q3:ArrayOfDeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterConnectionStateListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterConnectionStateListenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterConnectionStateListenerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterConnectionStateListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSwitcherOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects" minOccurs="0" name="switcher" nillable="true" type="q4:SwitcherDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSwitcherOptionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwitcherList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwitcherListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects" minOccurs="0" name="GetSwitcherListResult" nillable="true" type="q5:ArrayOfSwitcherDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwitcherDimensions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="switcher" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwitcherDimensionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects" minOccurs="0" name="GetSwitcherDimensionsResult" nillable="true" type="q6:SwitcherDimensionsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStorageItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects" minOccurs="0" name="storageItems" nillable="true" type="q7:ArrayOfStorageItemDTO" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceChannel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStorageItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStorageItemsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProtectStorageItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects" minOccurs="0" name="storageItems" nillable="true" type="q8:ArrayOfStorageItemDTO" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceChannel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProtectStorageItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProtectStorageItemsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnprotectStorageItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects" minOccurs="0" name="storageItems" nillable="true" type="q9:ArrayOfStorageItemDTO" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceChannel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnprotectStorageItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnprotectStorageItemsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoragesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoragesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects" minOccurs="0" name="GetStoragesListResult" nillable="true" type="q10:ArrayOfDeviceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceChannel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects" minOccurs="0" name="GetStorageResult" nillable="true" type="q11:ArrayOfStorageItemDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterStorageListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterStorageListenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterStorageListenerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterStorageListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDeviceServers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q12:LoginSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDeviceServersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAvailableDeviceServersResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreeDiskSpace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceChannel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreeDiskSpaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetFreeDiskSpaceResult" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDevicesChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDevicesUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceNumbers" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDevicesDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceNumbers" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDevicesAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceNumbers" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnConnectionStateChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="serverStatus" type="q15:ServerStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnStorageUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceChannel" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="type" type="q16:StorageNotificationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAvailability">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>