ListViewer_wpf_client/Service References/AsRunServiceReference/Harris.Automation.ADC.Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginSession" nillable="true" type="tns:LoginSession" />
  <xs:simpleType name="ServerStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Connecting" />
      <xs:enumeration value="Connected" />
      <xs:enumeration value="Disconnecting" />
      <xs:enumeration value="Aborted" />
      <xs:enumeration value="Disconnected" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServerStatus" nillable="true" type="tns:ServerStatus" />
</xs:schema>