ListViewer_wpf_client/Service References/AsRunServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.Configuration" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.Configuration" minOccurs="0" name="GetVersionResult" nillable="true" type="q1:ServiceVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAsRunListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAsRunListenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterAsRunListenerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterAsRunListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterAllAsRunListeners">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestAsRun">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q2:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsRunEnabled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsRunEnabledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsRunEnabledResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterConnectionStateListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q4:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterConnectionStateListenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterConnectionStateListenerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterConnectionStateListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q5:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDeviceServers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q6:LoginSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDeviceServersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAvailableDeviceServersResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAsRun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="logAsRun" nillable="true" type="q8:ArrayOfAsRunEventDTO" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestId" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnConnectionStateChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="serverStatus" type="q10:ServerStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>