ListViewer_wpf_client/Service References/ListServiceReference/Harris.Automation.ADC.Types.ServiceErrors.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types.ServiceErrors" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types.ServiceErrors" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DeviceServerNotRunningError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceServerNotRunningError" nillable="true" type="tns:DeviceServerNotRunningError" />
  <xs:complexType name="DeviceServerNotCreatedError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceServerNotCreatedError" nillable="true" type="tns:DeviceServerNotCreatedError" />
  <xs:complexType name="ServiceParametersValidationError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceParametersValidationError" nillable="true" type="tns:ServiceParametersValidationError" />
</xs:schema>