ListViewer_wpf_client/Service References/ListServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.Configuration" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types.Events" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Timecode" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.Source.DataTransferObjects.BreakAway" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.Configuration" minOccurs="0" name="GetVersionResult" nillable="true" type="q1:ServiceVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q2:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEventsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q3:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="GetListResult" nillable="true" type="q4:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterListListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q5:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterListListenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterListListenerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterListListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q6:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterAllListListeners">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q7:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstMissingMediaEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q8:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFirstMissingMediaEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="GetFirstMissingMediaEventResult" nillable="true" type="q9:EventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnAirEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q10:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnAirEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="GetOnAirEventResult" nillable="true" type="q11:EventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q12:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q13:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="GetListTypeResult" type="q14:TypeOfList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookahead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q15:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLookaheadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLookaheadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q16:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="GetListStateResult" nillable="true" type="q17:ArrayOfListStateValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGapProblemInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q18:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGapProblemInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="GetGapProblemInformationResult" nillable="true" type="q19:EventProblemInformationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q20:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="ev" nillable="true" type="q21:EventDTO" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types.Events" minOccurs="0" name="place" type="q22:InsertPlaceType" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="position" type="q23:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="InsertEventResult" nillable="true" type="q24:EventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q25:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="events" nillable="true" type="q26:ArrayOfEventDTO" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types.Events" minOccurs="0" name="place" type="q27:InsertPlaceType" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="position" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="InsertEventListResult" nillable="true" type="q29:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q30:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="ev" nillable="true" type="q31:EventDTO" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="position" type="q32:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyEventList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q33:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="events" nillable="true" type="q34:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyEventListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyEventListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q35:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="eventId" type="q36:guid" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="destination" type="q37:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q38:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="events" nillable="true" type="q39:ArrayOfguid" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="destination" type="q40:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveEventsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q41:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="position" type="q42:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q43:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="position" type="q44:guid" />
        <xs:element minOccurs="0" name="numberOfEvents" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEventsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventsByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q45:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="positions" nillable="true" type="q46:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEventsByGuidResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q47:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllEventsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangHold">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q48:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q49:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangHoldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangAirProtect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q50:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q51:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangAirProtectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangTensionRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q52:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q53:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangTensionReleaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangUnthread">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q54:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q55:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangUnthreadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangPlus1Sec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q56:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q57:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangPlus1SecResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangPlayGang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q58:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q59:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangPlayGangResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangRoll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q60:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q61:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangRollResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangThread">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q62:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q63:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangThreadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q64:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q65:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangReadyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangMinus1Sec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q66:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q67:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangMinus1SecResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangFreeze">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q68:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q69:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangFreezeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q70:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q71:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangPlayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangRecue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q72:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q73:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangRecueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangSkip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q74:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q75:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangSkipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GangPlaySecondary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q76:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lists" nillable="true" type="q77:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GangPlaySecondaryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListThread">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q78:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListThreadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListUnthread">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q79:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListUnthreadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q80:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListPlayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListHold">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q81:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListHoldResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListSkip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q82:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListSkipResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListFreeze">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q83:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListFreezeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListRoll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q84:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListRollResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListRecue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q85:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListRecueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListPlus1Sec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q86:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListPlus1SecResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListMinus1Sec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q87:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListMinus1SecResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q88:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListReadyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListProtect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q89:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListProtectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformAirProtect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q90:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="position" nillable="true" type="q91:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformAirProtectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListClearDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q92:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformListClearDoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventsClearDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q93:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="position" nillable="true" type="q94:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventsClearDoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventClearDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q95:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="position" type="q96:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventClearDoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventThread">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q97:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="position" type="q98:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventThreadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventUnthread">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q99:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="position" type="q100:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventUnthreadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventRecue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q101:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="position" type="q102:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventRecueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventPreview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q103:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="position" type="q104:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventPreviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleLookahead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q105:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleLookaheadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLookahead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q106:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element minOccurs="0" name="lookahead" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLookaheadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformCutNext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q107:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformCutNextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformLetRoll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q108:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformLetRollResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformRollSecondary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q109:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformRollSecondaryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformTensionRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q110:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformTensionReleaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterConnectionStateListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q111:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterConnectionStateListenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterConnectionStateListenerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterConnectionStateListener">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q112:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDeviceServers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q113:LoginSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableDeviceServersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAvailableDeviceServersResult" nillable="true" type="q114:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConfiguredServers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q115:LoginSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllConfiguredServersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllConfiguredServersResult" nillable="true" type="q116:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPartial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q117:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q118="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="start" type="q118:guid" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPartialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="GetListPartialResult" nillable="true" type="q119:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q120:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LockListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q121:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsListAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q122:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsListAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsListAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckListCapacity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q123:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element minOccurs="0" name="numberOfEvents" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckListCapacityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckListCapacityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxEventsInList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q124:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxEventsInListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxEventsInListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q125:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listIndex" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="GetListPageResult" nillable="true" type="q126:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFiltered">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q127:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listIndex" type="xs:int" />
        <xs:element minOccurs="0" name="doneCount" type="xs:int" />
        <xs:element minOccurs="0" name="onAirCount" type="xs:int" />
        <xs:element minOccurs="0" name="nextCount" type="xs:int" />
        <xs:element minOccurs="0" name="errorCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFilteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="GetListFilteredResult" nillable="true" type="q128:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListsByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q129:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q130="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listIndexes" nillable="true" type="q130:ArrayOfint" />
        <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListsByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="GetListsByPeriodResult" nillable="true" type="q131:ArrayOfArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfSecondaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q132:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="listIndex" type="xs:int" />
        <xs:element xmlns:q133="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="relatedPrimary" type="q133:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListOfSecondariesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="GetListOfSecondariesResult" nillable="true" type="q134:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RippleTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q135:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q136="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="position" type="q136:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RippleTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="RippleTimeResult" type="q137:TimecodeCompareResult" />
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Timecode" minOccurs="0" name="holdtime" nillable="true" type="q138:TimeCodeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventToggleHardStart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q139:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q140="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="position" nillable="true" type="q140:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformEventToggleHardStartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPullDataList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q141:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPullDataListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="GetPullDataListResult" nillable="true" type="q142:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtListName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q143:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtListNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExtListNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExtListName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q144:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExtListNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommercialContentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="ls" nillable="true" type="q145:LoginSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommercialContentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCommercialContentInfoResult" nillable="true" type="q146:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMaterialIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="session" nillable="true" type="q147:LoginSession" />
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q148="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q148:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMaterialIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CheckMaterialIdsResult" nillable="true" type="q149:ArrayOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreakAwayConfiguration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreakAwayConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.Source.DataTransferObjects.BreakAway" minOccurs="0" name="GetBreakAwayConfigurationResult" nillable="true" type="q150:BreakAwayConfigurationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBreakAwayConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.Source.DataTransferObjects.BreakAway" minOccurs="0" name="breakAwayConfig" nillable="true" type="q151:BreakAwayConfigurationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBreakAwayConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetBreakAwayConfigurationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreakAwayListStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBreakAwayListStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.Source.DataTransferObjects.BreakAway" minOccurs="0" name="GetBreakAwayListStatusResult" nillable="true" type="q152:BreakAwayListStatusDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformBreakAway">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="baList" nillable="true" type="q153:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformBreakAwayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformBreakAwayReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformBreakAwayReturnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnListChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="changeType" type="q154:ListChangeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnConnectionStateChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Types" minOccurs="0" name="serverStatus" type="q155:ServerStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEventsUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="updatedEvents" nillable="true" type="q156:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEventsDeleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="deletedEvents" nillable="true" type="q157:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEventsAdded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q158="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="afterID" type="q158:guid" />
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.DataTransferObjects.Events" minOccurs="0" name="addedEvents" nillable="true" type="q159:ArrayOfEventDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEventsMoved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q160="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="source" type="q160:guid" />
        <xs:element xmlns:q161="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="destination" type="q161:guid" />
        <xs:element xmlns:q162="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="movedEvents" nillable="true" type="q162:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListLocked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUnlocked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnBreakAwayListStatusChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="server" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="list" type="xs:int" />
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/Harris.Automation.ADC.Services.Common.Source.DataTransferObjects.BreakAway" minOccurs="0" name="baListStatus" nillable="true" type="q163:BreakAwayListStatusDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAvailability">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>